html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: sans-serif;
  color: black;
  font-family: "Rubik", sans-serif;
}

